@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

IMGONA SAS

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$secondary_color: #286276;
$background: #dddddd;
$border: #286276;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 5px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 5px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: rgba(40, 98, 118, 0.6);
								color: #fff;
							}
						}
						a {
							padding: 25px 15px;
							text-transform: uppercase;
							&:hover {
								background-color: rgba(40, 98, 118, 0.6);
								color: #fff;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
						ul.sub-menu {
							background-color: #fff;
							border: 0;
							z-index: 100;
							li {
								padding: 0;
								background-image: none;
								border-bottom: 1px solid $secondary_color;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px;
									border: none;
									text-align: center;
									text-transform: inherit;
									z-index: 100;
									&:hover {
										background-color: $secondary_color;
										&:after {
											border: {
												color: transparent transparent transparent #fff;
											}
										}
									}
									&:after {
										margin-right: 0;
										right: 0;
										border: {
											top-color: transparent;
											color: transparent transparent transparent $secondary_color;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to3 {
		height: 64px;
		position: relative;
		z-index: 1;
	}
	.moduletable_to4 {
		padding: 0 10px;
		input[type=search] {
			&.search-field {
				width: 120px;
				height: inherit;
				margin: 0;
				padding: 3px 2px 2px 2px;
				border: 1px solid $border;
				border-radius: 0;
				font-size: 12px;
				float: left;
				position: relative;
			}
		}
		input[type=submit] {
			width: 25px;
			height: 25px;
			background: {
				color: transparent;
				image: url(moduletable_to4_button_bg.png);
				position: center;
				repeat: no-repeat;
			}
			border: 1px solid $border;
			border-radius: 0;
			color: transparent;
			float: left;
			position: relative;
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		iframe {
			border: none;
		}
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		margin-bottom: 10px;
		font: {
			size: 18px;
			weight: bold;
		}
	}
	h2 {
		margin-bottom: 10px;
		font: {
			size: 32px;
			weight: bold;
		}
		color: $secondary_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			color: #fff;
		}
	}
	.home {
		h1 {
			font-size: 24px;
			color: $secondary_color;
		}
		p {
			font-size: 20px;
			color: $secondary_color;
		}
	}
	#box_1 {
		p {
			margin: 0;
			padding: 10px 0;
			a {
				background-color: rgba(40, 98, 118, 0.6);
				font-size: 16px;
				color: #fff;
				text: {
					align: center;
					shadow: 1px 1px 1px #000;
					transform: uppercase;
				}
				display: block;
			}
		}
	}
	.moduletable_le1,
	.moduletable_le2,
	.moduletable_le3 {
		a {
			&.bellows-target {
				padding: 5px;
				background: $secondary_color !important;
			}
		}
		ul {
			&.bellows-submenu {
				a {
					&.bellows-target {
						padding: 5px;
						background: #fff !important;
					}
				}
			}
			li {
				&#menu-item-451,
				&#menu-item-465 {
					a {
						&.bellows-target {
							background-color: rgba(40, 98, 118, 0.6) !important;
						}
					}
				}
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				padding-bottom: 10px;
				border-bottom: 1px solid $secondary_color;
				a {
					display: block;
					h2.woocommerce-loop-product__title {
						padding: 5px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
		.data_sheet {
			a {
				img {
					width: 100px;
				}
			}
		}
	}
	.news {
		margin-bottom: 20px;
		p {
			&.text-right {
				margin: 0;
				a {
					&.button {
						margin: 0;
						padding: 5px;
						background-color: transparent;
						color: $secondary_color;
					}
				}
			}
		}
	}
	&.haga_su_pedido {
		background: {
			image: url(content_haga_su_pedido_bg.png);
			position: top;
			repeat: no-repeat;
			size: 100%;
		}
		.row:first-child {
			padding-top: 1em;
			background-color: #fff;
		}
	}
	table {
		&.orders {
			font-size: 12px;
			th {
				border: 1px solid $secondary_color;
			}
			td {
				border: 1px solid $secondary_color;
				table {
					&.inside {
						margin: 0;
						tbody {
							background-color: transparent;
							border: none;
							tr {
								background-color: transparent;
								border: none;
								td {
									padding: 0;
									border: none;
									[type=number] {
										height: inherit;
										margin: 1px 0;
										padding: 0;
										font-size: 12px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 20px;
}

/* Block 2 */

.block_2 {
	margin-bottom: 20px;
	background: {
		image: url(block_2_bg.png);
		position: bottom;
		repeat: repeat-x;
	}
	.moduletable_b21 {
		h3 {
			font: {
				size: 36px;
				weight: bold;
			}
			color: $secondary_color;
		}
		#productos_destacados {
			.owl-item {
				.sa_hover_container {
					padding: 0 5% !important;
				}
				img {
					width: inherit !important;
					display: inherit !important;
				}
			}
		}
		.b2_image {
			background: -moz-linear-gradient(top, rgba(221,221,221,0) 50%, rgba(221,221,221,1) 51%, rgba(221,221,221,1) 100%);
			background: -webkit-linear-gradient(top, rgba(221,221,221,0) 50%, rgba(221,221,221,1) 51%, rgba(221,221,221,1) 100%);
			background: linear-gradient(to bottom, rgba(221,221,221,0) 50%, rgba(221,221,221,1) 51%, rgba(221,221,221,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00dddddd', endColorstr='#dddddd', GradientType=0 );
			text-align: center;
		}
		.b2_head {
			min-height: 94px;
			padding: 10px;
			background-color: $secondary_color;
			color: #fff;
			.title {
				font: {
					size: 26px;
					weight: bold;
				}
				line-height: 26px;
			}
			.subtitle {}
		}
		.b2_content {
			padding: 10px;
			background-color: $background;
			ul {
				list-style: square;
			}
			.more {
				text-align: right;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $secondary_color;
	.moduletable_bo1 {
		#a {
			p {
				margin: 0;
				color: #fff;
				a {
					color: #fff;
				}
			}
		}
		#b {
			a {
				margin: 0 10px;
				display: inline-block;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $secondary_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Quote Here */

.moduletable_qh1 {
	width: 150px;
	padding: 10px;
	top: 30%;
	right: 0;
	background-color: $secondary_color;
	position: fixed;
	z-index: 100;
	p {
		margin: 0;
		color: #fff;
		text: {
			align: center;
			transform: uppercase;
		}
		a {
			color: #fff;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}